/.git
/.gradle
/.idea
/.kotlin
/app
/gradle
/node_modules
/build
/captures
/local.properties
*.iml

arventa-pos-backend/.env
arventa-pos-backend/.env.*
!arventa-pos-backend/.env.example
arventa-pos-backend/vendor
arventa-pos-backend/node_modules
arventa-pos-backend/public/build
arventa-pos-backend/public/hot
arventa-pos-backend/public/storage
arventa-pos-backend/storage/logs/*.log
arventa-pos-backend/storage/framework/cache/*
arventa-pos-backend/storage/framework/sessions/*
arventa-pos-backend/storage/framework/views/*
arventa-pos-backend/.phpunit.result.cache
